@font-face{
    font-family:DOS8x16;
    src:url(ModernDOS8x16.woff) format('woff');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:DOS8x8;
    src:url(ModernDOS8x8.woff) format('woff');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:DOS8x14;
    src:url(ModernDOS8x14.woff) format('woff');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:DOS8x16;
    src:url(ModernDOS8x16.woff) format('woff');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:DOS9x14;
    src:url(ModernDOS9x14.woff) format('woff');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:DOS9x16;
    src:url(ModernDOS9x16.woff) format('woff');
    font-weight:400;
    font-style:normal;
}