* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: none;
  background: #000;
}
.bsWrap {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background: rgb(1, 1, 135);
  background: rgba(240, 240, 240, 0.8);
  font-family: "DOS9x14", "Gulim", "Dotum";
  overflow: hidden;
  font-size: 1.3em;
  animation: fadeInWindows 0.5s;
  animation-fill-mode: forwards;
}
.bsWrap p {
  margin: 0;
  padding: 0;
}
@keyframes fadeInWindows {
  0% {
    opacity: 0;
    background: #000;
    color: #000;
  }
  to {
    opacity: 1;
    background: rgb(0, 0, 168);
    color: rgba(240, 240, 240, 0.8);
  }
}
