* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: none;
  background: #000;
}
.bsWrap {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 168);
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "DOS8x16", "Gulim", "Dotum";
  scale: 1.4;
  opacity: 0;
  animation: fadeInWindows 0.5s;
  animation-fill-mode: forwards;
}

h1 {
  margin: 2px 0px;
  padding: 1px 4px 0px 6px;
  font-weight: 400;
  color: rgb(0, 0, 168);
  background: rgba(240, 240, 240, 0.8);
  font-size: 1.2em;
}

.row {
  display: block;
  margin: 25px 0px;
  font-size: 1.1em;
  font-family: "DOS8x16", "Gulim", "Dotum";
  font-weight: 600;
  line-height: 1.2em;
  color: rgba(255, 255, 255, 0.85);
}
.row p {
  margin: 1px 0px;
  padding: 0px;
}
.row p.highlight::before {
  content: "*";
  margin-right: 24px;
}
.row p.rows {
  margin-left: 2px;
}
.row p.center {
  text-align: center;
}

@keyframes fadeInWindows {
  0% {
    opacity: 0;
    background: #000;
    color: #000;
  }
  to {
    opacity: 1;
    background: rgb(0, 0, 168);
    color: rgba(240, 240, 240, 0.8);
  }
}
